<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <system.serviceModel>
    <services>
      <service name="Service.ProductService" behaviorConfiguration="ServiceMEXBehavior">
        <!-- Define one endpoints ABC. 
             Address obtained from <baseAdresses> -->
        <endpoint address="" binding="basicHttpBinding" contract="Service.IProductService"/>
        <!-- Enable the MEX endpoint -->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>

        <!-- List all of the base addresses in a dedicated section -->
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/AskFriendService"/>
          </baseAddresses>
        </host>
      </service>
    </services>

    <!-- A behavior definition for MEX -->
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceMEXBehavior">
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>

  </system.serviceModel>
</configuration>